html, body {
    height: 100%;
}

.jumbtroons {
    height: 26em;
    background: url(../porseni.png) no-repeat center top fixed;
    background-size: contain;
}

.jumbtroons h1{
    font-size: 80px;
    font-weight: bolder;
}

.jumbtroons h2{
    font-size: 60px;
    font-weight: bolder;
}

@media only screen and (max-width: 525px) {
    .jumbtroons h2{
        font-size: 40px;
        font-weight: bolder;
    }

    .jumbtroons h1{
        font-size: 60px;
        font-weight: bolder;
    }

    /* .jumbtroons {
        height: 20em;
        background-image: url(../porseni.png) no-repeat center center fixed;
        background-size: cover;
    } */

    

}

@media screen and (min-width: 980px) /* Desktop */ {
    .jumbtroons {
        height: 39em;
        background-size: contain;
    }
}

@media (min-height: 1366px) and (min-width: 980px) /* Desktop */ {
    .jumbtroons {
        height: 26em;
        background-size: contain;
    }
}

@media screen  and (max-width: 979px) /* Tablet */ {
    .jumbtroons {
        height: 20.1em;
    }
}
  
@media screen and (max-width: 500px) /* Mobile */ {
    .jumbtroons {
        height: 9.2em;
        background-size: contain;
    }
}


  

.nav-tabs a {
    color: black;
    font-weight: bold;
}

footer h1{
    font-size: 20px;
    text-align: center;
}

footer {    
    padding: 0;
    margin: 0;
}

footer a {
    color: black;
    font-weight: bolder;
}

.borbot {
    border-bottom: solid 3px black;
    text-align: center;
    margin-bottom: 30px;
    font-weight: bolder;
}
.borbot h2{
    font-weight: bolder;
    text-transform: uppercase;
}